
.products table {
  width: 100%;
  border-collapse: collapse;
}

tr.product {
    border-bottom: 1px solid gray;
}

.products td {
    padding: 10px;
}

.products .text {
  text-align: left;
}

.products .number, .products .actions {
  text-align: right;
}

tr.product img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

tr.empty img {
  opacity: 0.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}