<section class="products">
    <div class="table-scroll">
        <table>
            <tbody>
            @for (product of checkoutProducts$ | async; track product.id) {
            <tr class="product">
                <td class="image">
                    <img
                            [src]="product.image"
                            alt="Image of {{ product.name }}"
                    />
                </td>
                <td class="text">{{ product.name.toUpperCase() }}</td>
                <td class="number">&euro;&nbsp;{{ product.price }}</td>
                <td class="actions">
                    <button (click)="deleteProduct(product.id)"><img src="assets/trash_can.svg"/></button>
                </td>
            </tr>
            } @empty {
            <tr class="empty">
                <td>
                    <img src="{{ paymentImage }}" [ngClass]="{show: isPaying, hide: !isPaying}"/>
                    <img src="assets/scan_items.png" [ngClass]="{show: !isPaying, hide: isPaying}"/>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</section>
<footer class="payment actions">
    <button [disabled]="(checkoutProducts$ | async)?.length == 0" (click)="pay('cash')"><img src="assets/cash_payment_icon.svg"/></button>
    <button [disabled]="(checkoutProducts$ | async)?.length == 0" (click)="pay('card')"><img src="assets/card_payment_icon.svg"/></button>
    <div>&euro;&nbsp;{{ totalPrice$ | async }}</div>
</footer>